@import "../../style/variables.scss";

.posts {
  width: 85vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 4rem;
}

.posts-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #e12d39;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 992px) {
  .posts {
    width: 92vw;
  }
}

@media screen and (min-width: 1170px) {
  .posts-center {
    display: grid;
    grid-template-columns: 1fr 250px;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .posts-center {
    display: flex;
    flex-direction: column;
  }
  .posts-center > article:nth-child(1) {
    order: 2;
  }
  .posts-center > article:nth-child(2) {
    position: sticky;
    top: 2rem;
    order: 1;
  }
}
