@import "../../style/variables.scss";

.posts {
  width: 85vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 4rem;
}

.posts-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-red-light);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  background-color: aliceblue;
  width: fit-content;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  box-shadow: var(--light-shadow);
}

@media screen and (min-width: 992px) {
  .posts {
    width: 92vw;
  }
}

@media screen and (min-width: 1170px) {
  .posts-center {
    display: grid;
    grid-template-columns: 1fr 250px;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .posts-center {
    display: flex;
    flex-direction: column;

    & > article:nth-child(1) {
      order: 2;
    }
    & > article:nth-child(2) {
      position: sticky;
      top: 2rem;
      order: 1;
    }
  }
}
