{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["react-app", "eslint:recommended"],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-console": "off",
    "eqeqeq": "error",
    "dot-notation": "error",
    "no-unused-vars": "error"
  }
}
