{
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "prettier.tabWidth": 4,
  "editor.fontSize": 15,
  "editor.fontFamily": "'Fira Code', Menlo, Monaco, 'Courier New', monospace",
  "editor.fontLigatures": true,
  "javascript.updateImportsOnFileMove.enabled": "always"
}
