.linkedin-icon {
  color: #0a66c2;
}
.instagram-icon {
  color: #e4405f;
}
.github-icon {
  color: #181717;
}
.social-icon {
  font-size: 1.5rem;
  transition: var(--transition);
  margin-left: 0.5rem;
}
.social-icon:hover {
  color: var(--clr-primary-8);
  transform: translateY(-2px);
}
