.hero {
  background: var(--clr-primary-10);
  height: 12rem;
  position: relative;
  z-index: -1;
  margin-bottom: 6rem;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  background: url("../../assets/vector.svg");
  background-size: cover;
}

.hero-person {
  display: none !important;
}

.small-hero {
  height: 12rem;
  background: var(--clr-primary-10);
  margin-bottom: 6rem;
}

@media screen and (min-width: 800px) {
  .hero {
    height: 20rem;
  }
  .hero-person {
    width: 20rem;
    height: 20rem;
    display: block !important;
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translate(-20%, 20%);
    z-index: 4;
  }
}
