// --clr-primary-1: hsl(204, 91%, 17%);
// --clr-primary-2: hsl(204, 84%, 25%);
// --clr-primary-3: hsl(204, 81%, 29%);
// --clr-primary-4: hsl(204, 77%, 34%);
// --clr-primary-5: hsl(204, 62%, 45%);
// /* lighter shades of primary color */
// --clr-primary-6: hsl(204, 57%, 50%);
// --clr-primary-7: hsl(204, 65%, 59%);
// --clr-primary-8: hsl(204, 80%, 74%);
// --clr-primary-9: hsl(204, 94%, 87%);
// --clr-primary-10: hsl(204, 87%, 94%);

:root {
  --clr-primary-1: hsl(209, 30%, 13%);
  --clr-primary-2: hsl(209, 28%, 20%);
  --clr-primary-3: hsl(209, 30%, 30%);
  --clr-primary-4: hsl(209, 28%, 39%);
  --clr-primary-5: hsl(210, 22%, 49%);
  --clr-primary-6: hsl(210, 31%, 80%);
  --clr-primary-7: hsl(212, 33%, 89%);
  --clr-primary-8: hsl(206, 33%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-green-light: hsl(134, 41%, 88%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-orange-light: hsl(29, 74%, 92%);
  --clr-white: #fff;
  --clr-black: #0a0c10;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 700px;
}
