.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background: var(--clr-primary-1);
  text-align: center;
}

.footer p {
  margin-bottom: 0;
  color: var(--clr-primary-8);
  font-size: 1rem;
}
